
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titulo{
    background: rgb(10, 10, 10);
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

h1{
    color: #a6a6a6;
    margin-bottom: 10px;
}

.subtitulo{
    color: gray;
    margin-bottom: 20px;
}


.cep{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px 15px;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: #005fd1;
}

.resultado{
    margin-top: 20px;
}

.info{
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.info p{
    margin-bottom: 10px;
    
}

#qrcode{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#qrcode canvas{
    background: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(6, 126, 255, 0.395);
}